<div class="header">
  <div class="header__utility-bar">
    <a href="https://www.facebook.com/asierarriba.es/">
      <img
        src="/images/fb_logo.svg"
        alt="facebook"
        class="header__utility-bar__logo"
      />
    </a>
    <a href="https://www.instagram.com/asierarribafotografo/">
      <img
        src="/images/insta_logo.svg"
        alt="Instagram"
        class="header__utility-bar__logo"
      />
    </a>
  </div>
  <a href="/">
    <img src="/images/Logo.png" alt="facebook" class="header__logo" />
  </a>
</div>
