<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/HTMLheader.ejs") %>
    <link rel="stylesheet" href="/css/squared-collection.css" />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>

  <body>
    <%- include("./includes/header.ejs") %>
    <div class="squared-collection-container">
      <a href="/admin/new-gallery/" class="squared-collection-card-link">
        <div class="squared-collection-card">
          <div class="squared-collection-card__image-container">
            <img
              src="/images/create.svg"
              alt=""
              class="squared-collection-card__image"
            />
          </div>
          <p class="squared-collection-card__name">Create new gallery</p>
        </div>
      </a>
      <% for (let gallery of galleries) { %>
      <a
        href="/admin/edit-gallery/<%= gallery.id %>"
        class="squared-collection-card-link"
      >
        <div
          class="squared-collection-card <%= new Date(gallery.expirationDate).getTime() < Date.now() ? 'squared-collection-card-expired' : '' %>"
        >
          <div class="squared-collection-card__image-container">
            <% if(gallery.galleryImage) { %>
            <img
              src="/<%= gallery.galleryImage.path%>"
              alt=""
              class="squared-collection-card__image"
            />
            <% } else { %>
            <p class="squared-collection-card__default-text">
              <%=gallery.name%>
            </p>
            <% } %>
          </div>
          <p class="squared-collection-card__name"><%=gallery.name%></p>
        </div>
      </a>
      <% } %>
    </div>
    <section class="pagination">
      <% for(let i=0; i<Math.ceil(count/GALLERIES_PER_PAGE); i++) { %>
      <a href="/admin/?offset=<%=i*GALLERIES_PER_PAGE%>" class="<%=page == i+1 ? "pagination_active" : ""%>"><%=i+1%></a>
      <% } %>
    </section>
  </body>
</html>
