<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/HTMLheader.ejs") %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <%- include("./includes/header.ejs") %>

    <form action="/admin/login" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Log In" />
      </div>
    </form>
  </body>
</html>
