<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/HTMLheader.ejs") %>
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/squared-collection.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
    <meta name="csrf-token" content="<%= csrfToken %>" />
  </head>

  <body>
    <%- include("./includes/header.ejs") %>
    <a href="/admin">Back to admin</a>
    <div class="admin-forms">
      <form
        class="admin__edit-gallery-form"
        action="/admin/edit-gallery/<%= gallery.id %>"
        method="post"
        enctype="multipart/form-data"
      >
        <h2>Change gallery</h2>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div>
          <label>Name</label>
          <input type="text" name="name" value="<%= gallery.name %>" />
        </div>
        <div>
          <label>Password:</label>
          <input type="text" name="password" value="<%= gallery.password %>" />
        </div>
        <div>
          <label>Expiration date</label>
          <input
            type="date"
            name="expirationDate"
            value="<%= gallery.expirationDate %>"
          />
        </div>
        <div>
          <label>Gallery Image:</label>
          <input type="file" name="galleryImage" />
        </div>
        <button type="submit" class="admin__edit-button">
          Submit modifications
        </button>
      </form>
      <form
        action="/admin/add-photo/<%= gallery.id %>"
        method="POST"
        class="dropzone admin__add-photos-form"
        id="dropzone"
      >
        <h2>Add pictures</h2>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </form>
      <form
        action="/admin/delete-gallery/<%= gallery.id %>"
        method="POST"
        class="admin__delete-gallery-form"
      >
        <h2>Delete gallery</h2>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Delete gallery</button>
      </form>
    </div>
    <h2>Delete pictures</h2>
    <div class="squared-collection-container">
      <% for (let photo of gallery.images) { %>
      <div class="squared-collection-card">
        <div class="squared-collection-card__image-container">
          <img
            src="/<%= photo.path %>"
            class="squared-collection-card__image"
          />
        </div>
        <form action="/admin/delete-photo/<%= photo.id %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="galleryId" value="<%= gallery.id %>" />
          <button type="submit">Delete picture</button>
        </form>
      </div>
      <% } %>
    </div>
    <script src="/js/editGallery.js"></script>
  </body>
</html>
