<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/HTMLheader.ejs") %>
    <link rel="stylesheet" href="/css/404.css" />
  </head>

  <body>
    <%- include("./includes/header.ejs") %>
    <div></div>
    <h1>404</h1>
    <p><%=error=></p>
  </body>
</html>
