<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/HTMLheader.ejs") %>
    <link rel="stylesheet" href="/css/gallery-auth.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
  </head>

  <body>
    <div class="gallery-auth-container">
      <img
        class="background-image"
        id="password-modal-background"
        src="/<%= gallery.galleryImage.path%>"
      />
      <div class="title-container">
        <p class="title"><%= gallery.name %></p>
        <a href="https://www.asierarriba.es/" class="gallery-link">
          GALERIA CLIENTES</a
        >
      </div>
      <p class="explanation">
        Introduce la contraseña para ver esta collectión.
      </p>
      <form
        action="/gallery/login/<%=gallery.id%>"
        method="post"
        class="password-form"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          class="password-input"
        />
        <button type="submit" class="submit-button">ENTRAR</button>
      </form>
    </div>
  </body>
</html>
