<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/HTMLheader.ejs") %>
    <link rel="stylesheet" href="/css/gallery.css" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
  </head>
  <body>
    <div id="gallery-modal" class="gallery-modal" id="gallery-modal">
      <div class="gallery-modal__header">
        <img
          src="/images/close_icon.svg"
          alt="Close modal"
          class="gallery-modal__close-icon"
          onClick="closeGalleryModal()"
        />
        <div class="gallery-modal__header__utils">
          <img
            src="/images/favorite_icon.svg"
            class="gallery-modal__header__utils__icon"
            onClick="toggleFavorite()"
          />
          <a href="" id="download-photo-link" download="">
            <img
              src="/images/download_icon.svg"
              class="gallery-modal__header__utils__icon"
            />
          </a>
        </div>
      </div>
      <div class="gallery-modal__main">
        <img src="/images/left_arrow.svg" class="gallery-modal__arrow" />
        <div class="gallery-modal__img-container">
          <img src="" class="gallery-modal__img" id="modal-img" />
        </div>
        <img
          src="/images/right_arrow.svg"
          class="gallery-modal__arrow clickable"
        />
        <div
          class="gallery-modal__clickable-left"
          onCLick="selectPreviousPhoto()"
        ></div>
        <div
          class="gallery-modal__clickable-right"
          onClick="selectNextPhoto()"
        ></div>
      </div>
    </div>
    <div class="banner">
      <% if(gallery.galleryImage) { %>
      <div class="banner__img-container">
        <img src="/<%=gallery.galleryImage.path%>" class="banner-img" />
      </div>
      <% } %>
      <p class="banner__name"><%=gallery.name%></p>
      <a href="#photos" class="banner__open-button">ABRIR</a>
      <a href="https://www.asierarriba.es/" class="banner__link">
        <img
          src="//logos.pixieset.com/008402/3ff252ef9f10a0a6730b892b9b5383e5-large.png"
          alt="Asier Arriba logo"
          class="banner__link__img"
        />
      </a>
    </div>
    <div class="main-container" id="photos">
      <div class="secondary-header">
        <div class="secondary-header__info">
          <p class="secondary-header__info__name"><%= gallery.name %></p>
          <a
            class="secondary-header__info__link"
            href="https://www.asierarriba.es/"
            >Assier Arriba</a
          >
        </div>
        <div class="secondary-header__utils">
          <% if(favoritesOnly) { %>
          <a href="/gallery/<%=gallery.id%>">
            <img
              src="/images/favorite_icon.svg"
              class="secondary-header__icon"
            />
          </a>
          <a
            href="/gallery/<%=gallery.id%>/favorites/download"
            download="favorite-photos"
          >
            <img
              src="/images/download_icon.svg"
              class="secondary-header__icon"
            />
          </a>
          <% } else { %>
          <a href="/gallery/<%=gallery.id%>/favorites">
            <img
              src="/images/unfavorite_icon.svg"
              class="secondary-header__icon"
            />
          </a>
          <a href="/gallery/<%=gallery.id%>/download" download="gallery">
            <img
              src="/images/download_icon.svg"
              class="secondary-header__icon"
            />
          </a>
          <% }%>
        </div>
      </div>
      <div class="photos-container masonry">
        <% for (let photo of gallery.images) { %>
        <div class="photo-card">
          <img
            src="/<%= photo.path %>"
            class="photo-card__photo"
            onclick="openGalleryModal(this)"
            id="<%=photo.id%>"
            data-isFavorite="<%=photo.isFavorite%>"
            data-originalName="<%=photo.originalName ? photo.originalName : photo.path%>"
          />
        </div>
        <% } %>
      </div>
    </div>
    <script src="/js/gallery.js"></script>
  </body>
</html>
