<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/HTMLheader.ejs") %>
    <link rel="stylesheet" href="/css/admin.css" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
  </head>

  <body>
    <%- include("./includes/header.ejs") %>
    <a href="/admin">Back to admin</a>
    <div class="admin-forms">
      <form
        action="/admin/new-gallery"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div>
          <label>Name</label>
          <input type="text" name="name" />
        </div>
        <div>
          <label>Password:</label>
          <input type="text" name="password" />
        </div>
        <div>
          <label>Expiration date</label>
          <input type="date" name="expirationDate" />
        </div>
        <div>
          <label>Gallery Image:</label>
          <input type="file" name="galleryImage" class="admin-file-input" />
        </div>
        <button type="submit">Create gallery</button>
      </form>
    </div>
  </body>
</html>
