.admin-forms {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

@media (min-width: 800px) {
  .admin-forms {
    margin: 80px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
  }
}

.admin__edit-gallery-form {
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.admin__edit-button {
  margin-top: 10px;
}

.admin__delete-gallery-form {
  margin-top: 80px;
  text-align: center;
}

.admin__add-photos-form {
  margin-top: 80px;
}

@media (min-width: 800px) {
  .admin__delete-gallery-form {
    margin-top: 0px;
  }

  .admin__add-photos-form {
    margin-top: 0px;
  }
}

.admin-file-input {
  font-size: 0.5rem;
}

@media (min-width: 380px) {
  .admin-file-input {
    font-size: 1rem;
  }
}

.pagination {
  text-align: center;
}

.pagination_active {
  color: black !important;
}

.pagination a {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem 1rem 0.5rem;
  color: grey;
}
