body {
  background-color: black;
}

.gallery-auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  padding: 8px;
  text-align: center;
}

.background-image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.3;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-family: raleway, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  line-height: 1.33rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0.5rem;
}

.gallery-link {
  color: #888;
  margin-top: 4px;
  font-family: raleway, sans-serif;
  font-size: 0.5625rem;
  font-weight: 600;
  letter-spacing: 0.09375rem;
  line-height: 1;
  text-transform: uppercase;
}

.explanation {
  font-family: lato, sans-serif;
  font-size: 0.688rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.54;
  text-transform: none;
  color: #999;
  margin: 0;
  text-align: center;
}

.password-input {
  font-family: lato, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75;
  text-transform: none;

  height: 60px;
  margin: 15px 0;
  padding: 9px 12px;
  width: 450px;
  max-width: 100%;
  border: 1px solid #ccc;
  color: #555;
  max-width: 100%;
}

.password-input:focus {
  outline: none;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.submit-button {
  font-family: raleway, sans-serif;
  font-size: 0.688rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  line-height: 1.54;
  text-transform: uppercase;
  background: 0 0;
  color: #fff;
  padding: 15px 40px;
  border: 1px solid #fff;
  text-decoration: none;
  width: fit-content;
  max-width: 100%;
}
