.banner {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-columns: 1fr;
  word-wrap: break-word;
}

.banner__img-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.banner-img {
  max-width: 100%;
  max-height: 100%;
}

.banner__name {
  color: white;
  z-index: 2;
  font-size: 1.875rem;
  letter-spacing: 0.25rem;
  line-height: 1.33;

  font-family: raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media (min-width: 767px) and (max-width: 979px) {
  .banner__name {
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    line-height: 1.33;
  }
}

@media (min-width: 978px) {
  .banner__name {
    font-size: 3.75rem;
    letter-spacing: 0.375rem;
    line-height: 1.33;
  }
}

.banner__open-button {
  font-family: raleway, sans-serif;
  font-size: 0.625rem;
  letter-spacing: 0.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 50px;
  border: 1px solid #fff;
  text-decoration: none;
  z-index: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.banner__open-button:hover {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 767px) {
  .banner__open-button {
    font-size: 0.65rem;
  }
}

.banner__link {
  z-index: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: end;
  margin-bottom: 17px;
}

.banner__link__img {
  max-height: 12vh;
  max-width: 100%;
}

.main-container {
  width: 100%;
  margin: 0 24px;
}

.secondary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 15px;
}

.secondary-header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondary-header__info__name {
  font-family: raleway, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.06rem;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1rem;
}

.secondary-header__info__link {
  font-family: raleway, sans-serif;
  font-size: 0.5625rem;
  font-weight: 600;
  letter-spacing: 0.09375rem;
  line-height: 1;
  text-transform: uppercase;
  color: rgb(180, 180, 180);
  margin-top: 8px;
}

.secondary-header__utils {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secondary-header__icon {
  height: 25px;
  width: auto;
  margin-left: 10px;
}

.photos-container {
  padding: 15px 5px;
}

.masonry {
  column-count: 1;
  column-gap: 0em;
}

@media (min-width: 600px) {
  .photos-container {
    padding: 15px;
  }

  .masonry {
    column-count: 2;
    column-gap: 1em;
  }
}

@media (min-width: 850px) {
  .masonry {
    column-count: 3;
    column-gap: 5px;
  }
}

.photo-card {
  position: relative;
}

.photo-card__photo {
  width: 100%;
  margin: 0 0 5px;
  display: inline-block;
}

.gallery-modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  left: 0;
  top: 0;
  overflow: scroll;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
}

.gallery-modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 30px;
  align-items: center;
}

.gallery-modal__close-icon {
  height: 25px;
  width: auto;
}

.gallery-modal__header__utils {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gallery-modal__header__utils__icon {
  height: 25px;
  width: auto;
  margin-left: 30px;
}

.gallery-modal__main {
  flex: 1;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.gallery-modal__img-container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 20px;
}

.gallery-modal__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.gallery-modal__arrow {
  width: 25px;
}

.gallery-modal__clickable-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  cursor: pointer;
}

.gallery-modal__clickable-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  cursor: pointer;
}
