body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  text-align: center;
}

.pagination_active {
  color: black !important;
}

.pagination a {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem 1rem 0.5rem;
  color: grey;
}
