html {
  scroll-behavior: smooth;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  padding-top: 30px;
}

.header__utility-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}

.header__utility-bar__logo {
  height: 22px;
  width: auto;
  margin-right: 10px;
}

.header__logo {
  margin-top: 30px;
  max-width: 100%;
  width: 300px;
}
