.squared-collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: max-content;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

@media (min-width: 768px) {
  .squared-collection-container {
    grid-template-columns: repeat(3, 228px);
    column-gap: 20px;
    grid-auto-rows: max-content;
  }
}

@media (min-width: 980px) {
  .squared-collection-container {
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: max-content;
  }
}

@media (min-width: 1200px) {
  .squared-collection-container {
    column-gap: 30px;
    grid-template-columns: repeat(3, 370px);
  }
}

.squared-collection-card {
  width: 100%;
  height: 100%;
  text-align: center;
}

.squared-collection-card-link:hover {
  text-decoration: none;
}

.squared-collection-card__image-container {
  width: 100%;
  height: 250px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.squared-collection-card__image {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 768px) and (max-width: 980px) {
  .squared-collection-card__image-container {
    height: 150px;
  }
}

.squared-collection-card__name {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 12px;
  color: black;
  font-family: Lato, sans-serif;
}

.squared-collection-card__default-text {
  color: white;
}

.squared-collection-card-expired {
  border: 6px solid red;
}
